@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply smooth scrolling globally */
/*
  html, body {
    scroll-behavior: smooth;
  }
*/
  :root {
    /* Font setup */
    font-family: "Inter", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;

    @apply bg-[#fcfcfc];
    @apply text-[#111];
  }

  /* Dark mode settings */
  :root.dark {
    color-scheme: dark;
    @apply bg-[#000];
    @apply text-[#fcfcfc];
  }

  /* Prevent transition delays */
  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }

  /* Optimize font rendering */
  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }

  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;

  /* Apply global styles to pre and code tags */
  pre {
    overflow-x: auto;
    position: relative;
    padding: 1rem;
    background-color: #f5f5f5; /* Light background */
    @apply text-sm; /* Apply Tailwind's text size */
  }

  pre code {
    font-family: monospace;
    font-size: 14px; /* Ensure code within pre has smaller font */
  }

  code {
    background-color: #eaeaea; /* Light background for inline code */
    padding: 0.25rem;
    font-family: monospace;
  }

  :root.dark pre {
    background-color: #2b2b2b; /* Dark mode background for pre */
  }

  :root.dark code {
    background-color: #1c1c1c; /* Dark mode background for inline code */
  }
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-in-out forwards;
  }

  .animate-slide-up {
    animation: slide-up 0.3s ease-in-out forwards;
  }
}