@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--fg: #000;
--bg: #fff;
--border-color: #e3e2e0;
--hover-bg: #e5e7eb;
--focus-border-color: #3b82f6;
--placeholder-color: #999999;
}

[data-theme="dark"] {
--fg: #fff;
--bg: #000;
--border-color: #313131;
--hover-bg: #4b5563;
--focus-border-color: #00BFFF;
--placeholder-color: #666666;
}